:root {
    /* Fontes */
    --main-font: 'Cormorant Garamond', serif;
    --secondary-font: 'Dancing Script', cursive;
    /* Cores */
    --pure-black: #000000;
    --dark-gray: #181818;
    --medium-gray: #282828;
    --light-gray: #404048;
    --main-red: #4a0814;
    --dark-brown: #3d2424;
    --pink-brown: #522D2D;
    --light-pink-brown: #7A4343;
    --blush-pink: #D5BDAF;
    --darker-paper: #E6CCB2;
    --lighter-paper: #EDE0D4;
    --warm-white: #F5EBE0;
    --white-gray: #EDEDE9;
    --pure-white: #FFFFFF;
    /* Espaçamento*/
    --baseline: 14px;

}


body {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    height: 100vh;

}

.capa{
    height: calc(var(--baseline) * 42.6);
    aspect-ratio: 6 / 4;
    margin-top: 10vh;
    background-color: var(--pink-brown);
    border: 10px solid var(--dark-brown);
    border-radius: 5px;
    box-shadow: inset 6px 6px 10px var(--dark-brown), inset -6px -6px 10px var(--dark-brown), 0px 0px 50px var(--pure-black);

}

.bloco {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 1200px;
}

.bloco__pagina {
    background-color: var(--lighter-paper);
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.bloco__pagina-1 {
    border-right: 1px solid var(--darker-paper);
    box-shadow: inset -10px 0 15px -8px var(--darker-paper);
}

.bloco__pagina-1 >.pagina__conteudo {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin: 0 2rem;
}


.bloco__pagina-2 {
    border-right: 1px solid var(--darker-paper);
    box-shadow: inset 10px 0 15px -8px var(--darker-paper);
}


.bloco__pagina-2 > .pagina__conteudo {
    width: 90%;
    height: 90%;
    border: 1px solid var(--darker-paper);
}

.pagina__conteudo-titulo {
    font-size: 2.5rem;
    font-weight: 600;
    
}

hr{
    width: 80%;
}

.pagina__conteudo-icones, .pagina__conteudo-texto {
    font-size: 1.2rem;
}

.bloco_mensagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 1.2rem;
    text-align: left;
}

.input_nome, .input_mensagem {
    width: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: .5rem;
    font-weight: 600;
}

.nome_caixa {
    height: 1.2rem;
    border: 1px solid var(--blush-pink);
    border-radius: 5px;
    background-color: var(--warm-white);
    box-shadow: 3px 3px 4px var(--darker-paper);
}
.mensagem_caixa {
    height: 4rem;
    border: 1px solid var(--blush-pink);
    border-radius: 5px;
    background-color: var(--warm-white);
    box-shadow: 3px 3px 4px var(--darker-paper);
    
}

.nome_caixa:focus , .mensagem_caixa:focus {
    outline: 1px solid var(--pink-brown);
    background-color: var(--warm-white);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.2rem;
}


.botao_enviar {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.1rem;
    width: 30%;
    align-self: center;
    margin-top: 1.2rem;
    border: 1.5px solid var(--blush-pink);
    border-radius: 5px;
    background-color: var(--warm-white);
    padding: .4rem;
    box-shadow: 3px 3px 4px var(--darker-paper);
}

.lista_mensagem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    align-items: center;
    font-family: var(--secondary-font);
    letter-spacing: 0.2rem;
    
}

.lista_item {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    border-bottom: 1px solid var(--blush-pink);
    padding: .3rem .5rem .5rem .5rem;
    font-weight: 500;
    font-size: 1.12rem;
}


